.product {
    background-color: orangered;
    padding: 10px;
    border-radius: 10px;
    >img {
        width: 100%;
        border-radius: 10px;
    }
    >.deskripsi {
        padding: 10px 10px 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        >h3,>p {
            text-align: center;
        }
        >.button {
            display: flex;
            justify-content: space-between;
            >button {
                padding: 10px 25px;
                background-color: red;
                color: white;
                font-weight: bold;
                border: none;
                border-radius: 30px;
                cursor: pointer;
                &:hover {
                    background-color: #f66;
                }
            }
        }
    }
}